body {
  font-family: 'Raleway', sans-serif;
  background-color: #f2f1ef;
  color: #000000;
  font-weight: 300;
}

.page-title {
  font-family: 'Jost', sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 4rem 0;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
