body {
  font-family: 'Raleway', sans-serif;
  background-color: #f2f1ef;
  color: #000000;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: inherit;
}

.btn {
  color: #f2f1ef;
  font-size: 1.1rem;
  border-radius: 1.25rem;
  padding: 1.2rem 2.5rem;
}

.page-title {
  font-family: 'Jost', sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1;
}

.page-subtitle {
  font-size: 1.6rem;
  margin-top: -1.25rem;
  color: #888888;
}

.signing {
  color: #888888;
  padding: 100px;
}

.gap {
  margin: 4.25rem 0;
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
  body {
    margin: 0 4%;
  }
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
}
