body {
    font-family: "Raleway", sans-serif;
}

.page-title {
    font-family: "Jost", sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.gap {
    margin-bottom: 2.25rem;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 3.75rem;
    transition: 0.5s;
}

.sidebar a {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #818181;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 1.56rem;
    font-size: 2.25rem;
    margin-left: 3rem;
}

.openbtn {
    font-size: 1.85rem;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 0.45rem 0.85rem;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left 0.5s;
    padding: 1.5rem;
}

.wrapper {
    overflow: auto;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: gray;
}
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    background: #000;
    border-radius: 10px;
}

img {
    object-fit: cover;
}

.img-sm {
    width: 6.25rem;
    height: 6.875rem;
}

.img-x-sm {
    width: 4rem;
    height: 4.375rem;
}

.form {
    margin: 0 auto;
    padding: 2rem;
    width: 35rem;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
}

textarea {
    height: 100px;
}

a {
    color: black;
}

a:hover {
    color: rgb(0, 0, 0, 0.75);
}

a.green:hover {
    color: rgb(3, 182, 3);
}

.btn-link {
    padding: 0 !important;
    color: black;
}

.btn-link.red:hover {
    color: #dc3545;
}

.btn-link:focus,
.btn-link:focus-visible {
    box-shadow: none;
}

.form-control:focus {
    border-color: #212529;
    box-shadow: 0 0 0 0.25rem rgb(136 136 136 / 25%);
}

textarea:focus-visible {
    outline: none;
}

.form-select {
    width: auto;
}

label {
    font-weight: bold;
}

.m-top {
    margin-top: 2.5rem;
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 12px;
    }
}
