* {
    box-sizing: border-box;
}

.navbar {
    color: #000000;
    font-weight: 400;
}

.navbar-toggler {
    margin-top: 0;
}

.nav-link.nav-item:hover {
    cursor: pointer;
}

.show {
    display: none;
}

.header-sec {
    padding: 2vh;
    text-align: center;
}

.main-img {
    height: auto;
    width: 100%;
    border-radius: 4vw;
    max-height: 500px;
    min-height: 300px;
    object-fit: cover;
    margin-bottom: 3vw;
}

.splendour {
    padding-top: 14%;
    padding-left: 4%;
    position: absolute;
    color: white;
    font-size: 1.8em;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0;
    filter: alpha(opacity=0); /* IE support */
}

.icons > img:hover {
    background-color: #faf9f6;
}

.footer-sec:last-of-type {
    border-right: 1vw solid #edece9;
}

.footer {
    background-color: #edece9;
    margin: 4vh 0;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: row;
    border-radius: 1.5rem;
}

.footer-sec {
    border: 1vw solid #edece9;
    border-radius: 1.5rem;
    border-right: 0px;
    padding: 0.5vw;
}

.footer-heading {
    color: #4d4d4d;
    font-weight: 800;
}

.items,
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right {
    align-items: flex-end;
    justify-content: flex-end;
}

.icons {
    display: flex;
    margin-top: 0.2rem;
}

.icons > img {
    background-color: #f2f1ee;
    flex-basis: 25%;
    padding: 0.625rem;
    object-fit: contain;
    width: 3rem;
    border-radius: 0.625rem;
    margin-right: 0.5rem;
}

.icons > img:last-of-type {
    margin-right: 0;
}

.icons > img:hover {
    background-color: #faf9f6;
}

.footer-sec:last-of-type {
    border-right: 1vw solid #edece9;
}

.normal {
    text-align: right;
    font-size: 0.85rem;
    color: #4d4d4d;
}

.bottom-name {
    font-size: 3rem;
    margin-bottom: -0.5rem;
}

.bottom-subtitle {
    color: #888888;
    font-size: 1.1rem;
}

.bottom-logo {
    margin-top: 1rem;
    width: 8vw;
    height: auto;
    min-width: 50px;
}

.address {
    background-color: #f2f1ee;
    flex-basis: 50%;
    margin: 1.25vh 0;
    border-radius: 16px;
    padding: 2.5vw;
}

.address:hover {
    background-color: #faf9f6;
}

.address-parts {
    font-size: 0.85em;
    color: #888888;
}

.dark {
    font-weight: bold;
}

.copyright {
    font-weight: 400;
    margin-top: 1.2rem;
}

.copyright span {
    font-family: "Jost", sans-serif;
    font-weight: 500;
}

@media (min-width: 360px) {
    .splendour {
        font-size: 2.1em;
    }
}

@media (min-width: 500px) {
    .main-img {
        border-radius: 2vw;
        max-height: 500px;
    }

    .splendour {
        font-size: 3em;
    }
}

@media (max-width: 992px) {
    .hide {
        display: none;
    }

    .show {
        display: inline-block;
    }
}

@media (min-width: 920px) {
    .main-img {
        border-radius: 2vw;
        max-height: 600px;
    }

    .splendour {
        font-size: 4em;
    }

    .address-parts {
        font-size: 1em;
    }
}

@media (max-width: 800px) {
    .bottom-name,
    .bottom-subtitle {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .footer {
        flex-direction: column;
        min-height: 0;
        padding: 1vw;
    }

    .right {
        align-items: center;
    }

    .footer-sec {
        margin-top: 0.5vw;
        border-right: 1vw solid #edece9;
    }

    .normal {
        text-align: center;
    }
}
